html,body{
    box-sizing: border-box;
}

html{
    background-color: grey;
    display: flex;
    justify-content: center;
}

body{
    background-color: white;
    width: 800px;
    padding:5%;
}

h2,h3{
    text-decoration: underline;
}

.footer-p {
    display: flex;
    width: 100%;
    flex-flow:  row wrap;
    justify-content: space-between;
    align-items: center;
}

.perDet-li{
    list-style: none;
    display: flex;
    align-items: center;
    height: 30px;
}